#container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 26% 26% 26% 10%;
    width: 100%;
    height: 100%;
}

html, body, #fullscreen {
    height: 100%;
    color: white;
    position: fixed;
    max-width: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    cursor: none;
}

#top-bar {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%
}

#top-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
   
}

#top-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
   
}

#mid-left {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    
}

#mid-right {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    
}

#bottom-left {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    
}

#bottom-right {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    
}

#bottom-bar {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
   
}
